body
{
    background-color: aquamarine;
}
.container
{
    border: 1px solid black;
    margin: 10em;
    margin-left: 35vmax;
    padding: 4em;
    width: fit-content;
    background-color: rgb(43, 97, 88);
    border-radius: 2em;
}
input
{
    height: 2em;
    border-radius: 2rem;
    border: 5px solid black;
}
table,tr,td
{
    /* border: 1px solid black; */
    border-collapse: collapse;
    height: 3em;
}
th
{
    color: red;
}
#login
{
    margin: 20px;
}
#register
{
    margin-left:20%;
}
h1
{
    color: rgb(255, 0, 0);
}
h1:hover
{
    color: brown;
}
button
{
    font-size: large;
    font-weight: 900;
    background-color: blue;
    color: whitesmoke;
    padding: .6vmax;
    border-radius: 1em ;
    border: 2px solid black;
}
a
{
    color: whitesmoke;
}
